*{
  margin: none;
}
:root{
  --alice-blue : rgb(35, 87, 132);
  --sub-head : rgba(219, 8, 8, 0.842);
  --linear-1:linear-gradient(white,rgb(20, 104, 230));
}

/* Navbar */
.nav_buttons{
  display: flex;
}
.nav_button1{
  border-radius: 10px;
  border: 1px white;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.27);
  transition: all 0.3s ease-in;
}
.nav_button1:hover{
 box-shadow: -1px -1px 1px rgba(56, 7, 231, 0.936);
}
.nav_button2{
  color: aliceblue;
  border-radius: 20px;
  transition: all 0.3s ease-in;
  background: linear-gradient(rgb(41, 143, 232),rgb(98, 0, 255));
}
.nav_button2:hover{
  box-shadow: 0px 0px 4px rgb(0, 255, 17);
 }
.nav_button3{
  color: aliceblue;
  border-radius: 20px;
  transition: all 0.3s ease-in;
  background: linear-gradient(to right,rgb(42, 185, 44),rgb(44, 82, 6));
}
.nav_button3:hover{
  box-shadow: 0px 0px 4px rgb(34, 0, 255);
 }
 #nav_buttons{
  text-align: center;
  width: 100px;
  padding: 10px;
  margin-right: 10px;
 }
 .nav_img{
  width: 100px;
  height: 80px;
 }
 #nav_buttons>svg{
  display: none;
}
.offcanvas {
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(-100%);
  opacity: 0; 
}

.offcanvas.show {
  transform: translateY(0);
  opacity: 1; 
}


 @media(max-width:716px){
  #nav_buttons{
    width: max-content;
    border-radius: 10 px;
  }
  #nav_buttons>svg{
    display: inline;
  }
  #nav_buttons>span{
    display: none;
  }
 }
 @media only screen and (max-width:560px){
  .navbar-brand{
    margin-right: 2px;
  }.navbar-brand>span{
    font-size: medium  !important;  
  }
  .navbar-brand>span:nth-of-type(1){
    padding: 2px 10px !important;
  }
  #nav_buttons{
    width:min-content;
    padding: 5px !important;
    border-radius: 10 px;
  }
 }
/* ------------IntroCard------------------- */
.introCard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 5rem 5rem 0rem 5rem ;
  border: 1px solid grey;
  border-radius: 20px;
  height: 60vh;
  background-image: url(./assets/doctors.png);
  background-size: contain;
  background-position: 90% 50%;
  background-repeat: no-repeat;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.87);

}
.introContent{
  width: 60%;
  height: 100%;
  padding: 5%;
  border-radius: 25px;
  background: url(./assets/Plus1.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position:  right;
  animation: backlit 3s infinite ease;
}
@keyframes backlit {
  0%{
    box-shadow: 0px 0px 10px rgba(89, 0, 255, 0.827)  ;
  }
  30%{
    transform: rotateY(15deg);
    transform: rotateX(15deg);
    box-shadow: 0px 0px 5px  rgba(0, 191, 255, 0.827);
  }
  60%{
    box-shadow: 0px 0px 10px rgba(255, 42, 0, 0.827) ;
  }
  80%{
   
    box-shadow: 0px 0px 5px rgba(0, 255, 183, 0.827) ;
  }
  100%{
    box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.982) ;
  }

}
.introContent > div> h3 {
    color: var(--alice-blue);
  }
.introContent > div> p {
  color: var(--sub-head);
}
.offer{
 color: aliceblue !important;
 width: 50%;
  border-radius: 40%;
 background:radial-gradient(circle, rgba(59, 158, 6, 0.751),rgba(0, 204, 255, 0.827));
 transition: all ease;
 animation: colchange 10s infinite  ease-in-out;
}
@keyframes colchange{
  0%{
    transform: rotateX(40deg);
    background:radial-gradient(circle, rgba(59, 158, 6, 0.751),rgba(89, 0, 255, 0.827));
    border-radius: 38%;
    box-shadow: 0px 0px 5px rgba(89, 0, 255, 0.827)  ;

  }
  30%{
    transform: rotateY(40deg);
    background:radial-gradient(circle, rgba(216, 220, 4, 0.901),rgba(255, 0, 174, 0.827));
    border-radius: 45%;
    box-shadow: 0px 0px 5px  rgba(255, 0, 174, 0.827);
  }
  60%{
    transform: rotateY(10deg);
    background:radial-gradient(circle, rgba(236, 59, 206, 0.751),rgba(0, 204, 255, 0.827));
    border-radius: 50%;
    box-shadow: 0px 0px 5px rgba(0, 204, 255, 0.827) ;
  }
  80%{
    transform: rotateY(240deg);
    background:radial-gradient(circle, rgba(226, 106, 58, 0.751),rgba(0, 255, 183, 0.827));
    border-radius: 45%;
    box-shadow: 0px 0px 5px rgba(0, 255, 183, 0.827) ;
  }
  100%{
    transform: rotateY(0deg);
    background:radial-gradient(circle, rgba(59, 158, 6, 0.751),rgba(0, 204, 255, 0.827));
    border-radius: 35%;
    box-shadow: 0px 0px 5px rgba(0, 204, 255, 0.827) ;
  }

}
.nav_intro {
  width: 100%;
  height: min-content;
  border: 0.5px solid blue;
  padding: 25px;
  border-radius: 30px;
  margin-top: 3% !important;
  backdrop-filter: blur(2px);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.87);
}
.nav_intro>div:nth-child(1)>button{
 display: flex;
 justify-content: center;
 width: 25%;
 background-size: cover;
} 
.nav_intro>div:nth-child(1)>button>img{
 width: 40%;
}
 .nav_intro{
  display: flex;
  justify-content: space-between;
  flex-wrap: no-wrap;
 }
 
 .nav_intro>div{
  width: 50%;
  margin: auto 10%;
 }
 .nav_intro>div:nth-child(2){
  display: flex;
  justify-content: flex-end;
 }
 .nav_intro>div:nth-child(2)>button{
  margin: auto 10px;
  padding: 10px 15px;
  width: 120px ;
}
.lastIntro{
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 5rem;
}
 .lastIntro>div{
  display: flex;
  justify-content: center;
} 
.lastIntro > div> img{
  width:20%;
  height: 80%;
  border-radius: 5px;
}
.lastIntro li{
  list-style: none;
}
@media(max-width:906px ){
  .introContainer{
    padding: none !important;
  }
  .introCard{
    padding: none !important;
  }
  .introContent{
    background: transparent;
    overflow: hidden;
    width: 100% !important;
    justify-self: flex-start;
    height: 50%;
    animation: none !important;
  }
  .introContent > div> p,.introContent > div:nth-of-type(1)> h3{
    display: none;
  }
  .introContent > div:nth-of-type(2)> h3{
    width: 100%;
    padding: 5px;
  }
  
 .nav_intro>.input-group{
  display: none;
  width: max-content;
 }
 .nav_intro>div:nth-child(2){
  display: flex;
  justify-content: space-between;
  width: inherit;
 }
 .nav_intro>div:nth-child(2)>button{
  font-size:medium;
  padding: 10px 15px;
  width: 120px ;
}
.lastIntro>div{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 }
 @media only screen and (max-width:576px ){
  .introCard{
    padding: 0px !important;
  }
  .introContent{
    background: transparent;
    animation: none;
    padding: auto 0px !important;
  }
  .introContent > div> p,.introContent > div:nth-of-type(1)> h3{
    display: none;
  }
  .introContent > div:nth-of-type(2)> h3{
    width: 100%;
    padding: 5px;
  }
  .lastIntro>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small !important;
  } 
  .lastIntro>div>img{
    height: 30px !important;
    width: 30px !important;

  }
  .nav_intro{
    padding: 0px !important;
    border: none !important;
    box-shadow: none !important;
  }
  .nav_intro>div:nth-child(2)>button{
    font-size:medium;
    padding: 10px 15px;
    width: 120px ;
 }
 }
 @media only screen and (max-width:416px ){
    .introCard{
      box-shadow: none! important;
      border: none;
    }
 }
/*---------------CheckUp------------------*/
.MainCard{
  position: relative;
}
.Cardcontainer{
    display: flex;
    margin: 3rem auto !important;
    overflow-x: scroll;
    scrollbar-color: rgba(12, 245, 249, 0.957);
    scroll-behavior: smooth;
    scrollbar-width: none;
    -ms-overflow-style: none;
    mask-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,1) 20%,rgba(0,0,0,1) 80%,rgba(0,0,0,0) );
    -webkit-mask-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,1) 20%,rgba(0,0,0,1) 80%,rgba(0,0,0,0) );;
    background: linear-gradient(to right,rgba(255,255,255,1),rgba(255,255,255,0));
  }
  .Cardcontainer::-webkit-scrollbar{
    display: none;
  }
/*------------- checkup card------------------- */
.Check_card_container{
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.27);
  margin: 0px 20px 0px 15px;
  border-radius: 25px;
  width: max-content;
  height: 100%;
  list-style-type: none;
  background: linear-gradient(transparent,rgba(51, 255, 0, 0.804),transparent);
}
s{
  opacity:50%;
  font-size: smaller;
}
span>img{
 opacity: 70%;
}
.Check_card_container > .row:nth-child(1){
  color: white;
  border-radius: 25px;
  box-shadow: 1px 4px 5px rgba(0, 0, 0, 0.87);
}
.Check_card_container>div:nth-of-type(3){
  padding-left: 20px;
  padding-right: 40px;
  padding-bottom: 10px;
}
.cc_li{
  font-size: small !important;
}
.cc_btn>button{
  font-size: small;
  width: max-content;
}
.cc_i_c{
  padding: 0px 10px;
}
@media only screen and  (max-width:716px){
  #controls{
    display: none !important;
  }
  .cc_btn{
    padding: none;
  }
  .cc_btn>button{
    padding: 5px 5px !important;
    font-size: small !important;
  }
 
}
@media only screen and (max-width:564px){
 
  .cc_btn>button{
    padding: 5px 5px !important;
    font-size: x-small;
  }
  .Cardcontainer{
   mask-image: none;
   -webkit-mask-image: none;
  }
}
/*--------------MostBookedCheckups----------------*/
.mbcContainer{
  height: max-content;
}
.table{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-rows: repeat(2,1fr);
}
.table>div>div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 15px;
  width: auto;
  height: 100%;
  
}
.span{
  height: 100%;
  background:linear-gradient(rgb(123, 165, 227),rgb(7, 7, 217));
  box-shadow: 0px 4px 15px rgba(20, 104, 209,0.6);
  transition: all 0.6s ease;
}

.table >div>:not(.span){
  height: 50%;
  background:linear-gradient(rgb(180, 240, 166),rgb(20, 230, 52));
  box-shadow: 0px 4px 15px rgba(20, 234, 59,0.5);
  transition: all 1s ease;
}
.table >div>:not(.span):hover{
  border-radius: 20%;
  color: aliceblue !important ;
  font-size:large !important;
  box-shadow: 0px 4px 20px rgba(20, 234, 59,0.8);
}
.table>div>div>img{
  width:50%;
  height: 50%;
  transition: transform 0.5s ease;
}
.table>div>div>img:hover{
 transform: scale3d(1.2, 1.2, 1.5);
}
.mbcContainer>div>h2{
  font-weight: bold;
  text-transform: capitalize;
  border: none;
}
.mbcContainer>div>button{
  margin-top: 15px;
  border-radius: 15px;
}
@media only screen and (max-width:716px){
  .mbcContainer{
    padding: 10px;
    margin: 20px !important;
  }
  .mbcContainer>div:nth-of-type(2){
    margin: 10px !important;
    padding: 10px !important;
    display: flex;
    justify-content: center;
        flex-direction: column;
        align-items: center;
  }
  .table{
    padding: 2px !important;
    margin: none !important;
    margin-bottom: 2px !important;
  }
}
@media only screen and (max-width:466px){
  .mbcContainer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px !important;
  }
 
  .table{
    padding: 2px !important;
    margin: none !important;
    margin-bottom: 2px !important;
  }
  .table>div>div{
    display: flex;
    margin: 10px 3px !important;
    justify-content: center;
    align-items: center;
    width: 90%;
    
  }
}
/* ------------------Caro-------------------------------------------- */

/* --------Caro222222--------- */
.car2Container{
  margin: 5% !important;
}
.car2Container>div>div{
  border-radius: 30px;
  display: flex;
}

.car2Container>div>.icon>.icon{
  border-radius: 40px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.87);

}
.car2Container>div>.icon>.icname{
  filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.87)) !important;
}
.carouselItems{
 border-radius: 20px;
 padding: 1% 11% !important;
 
}
.carouselItems>div{
  border-radius: 40px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.87);
}
.carouselItems>div>div{
  height: 40vh;
  background: transparent;
  border-radius: 40px !important;
}
.carouselItems>div>div>div{
  background: transparent;
  
}
.carouselItems>div:nth-of-type(1){
  background-size:100% 100% !important;
  background: url(./assets/checkHeart.jpg);
}
.carouselItems>div:nth-of-type(1)>div>div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-transform: capitalize;
}
.carouselItems>div:nth-of-type(2){
 background-position: top center !important;
 background-repeat: no-repeat !important;
  background-size:100% 100% !important;
  background: url(./assets/Healthheckup.jpg);
}
.carouselItems>div:nth-of-type(2)>div>div
{display: flex;
  flex-direction: column;
  justify-content: flex-end;
 color: rgb(246, 7, 27);
 border: none !important;
}
.carouselItems>div:nth-of-type(3){
  background: url(./assets/nosugar.jpg);
  background-size: 100% 100%;
}
.carouselItems>div:nth-of-type(3)>div>div{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.carouselItems>div:nth-of-type(4){
  background:url(./assets/ECGhome.jpeg);
  background-size: 100% 100%;
  border: none !important;
  border-radius: 40px;
}
.carouselItems>div:nth-of-type(4)>div>div{
  border: none;
}
.carouselItems>div:nth-of-type(4)>div>div>div{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}
@media only screen and (max-width:716px){
  .car2Container>div>a{
    display: none;
  }
  .carouselItems{
    padding: 1px !important;
  }
}

/* -----------Organscard--------------- */
.organs_container{
  height:fit-content;
  width: 100%!important;
}
.organ_Grid{
  display: grid;
  padding: 8% 8%;
  grid-template-columns: repeat(3,1fr);
}
.organ_Grid>div>img{
  height: 80%;
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  filter: drop-shadow(4px 6px 3px rgba(0, 0, 0, 0.77));
}
.organ_Grid>div>a{
  display: flex;
  justify-content: center;
  height: 20%;
  text-decoration: none;
  padding: 0px 10px;
}

.organ_Description{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px 20px;
  text-align: justify;
  text-transform: capitalize;
}
@media only screen and (max-width:716px){
  .organs_container{
    padding: 5px !important;
  }
  .organ_Grid{
    padding: 5px;
    margin: 1px 20px;
  }
}
/* ---------------Whatsapp_Card--------------- */
.wp_container{
  padding: 5% 15%;
  color: aliceblue;
}
.wp_container>div{
  border-radius: 60px;
  background: linear-gradient(rgb(21, 176, 62),rgb(2, 75, 19));
}
.wp_container>div>div>p{
 border-top: 1px dashed white;
 padding-top: 10px;
}
.wp_container>div>div>p>a{
  text-decoration: none;
 color: aliceblue;
}
.w_img_c>img{
  width: 100px;
  background-color: rgba(240, 248, 255, 0.648);
  border-radius: 50%;
  box-shadow: 0px 0px 5px rgba(235, 233, 233, 0.87);
  overflow: visible;
  transition: all 1s ease;
}
.wp_container:hover .w_img_c>img{
  background-color: #f9faf9;
  box-shadow: 0px 0px 15px rgba(239, 247, 7, 0.945);
}
@media screen and (max-width:716px) {
  .wp_container{
    padding: 15px !important;
    color: aliceblue;
  }
  .w_img_c{
    display: flex;
    justify-content: center;
    padding: 1px !important;
  }

}
/* ----------------------No_Time------------- */
.no_time_container{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.no_time_container>.row{
  border-radius: 50px;
  background-color: rgb(24, 229, 244);
}
.discopapa{
  height: 50%;
  padding-bottom: 10px;
}
.no{
  color: aliceblue;
  font-size: 6rem;
  font-weight: 700;
}
@media screen and (max-width:906px){

  .no_time2{
    display: none;
  }
  .ntbt{
    font-size: small;
    padding: 5px 10px!important;
  }
  .no{
    font-size: 4rem;
  }
  .nt_img{
    height: 200px !important;
    width: 150px !important;
  }
  .no_time_container{
    padding: none !important;
  }
  .no_time_container>.row{
    margin: 1px 5px !important;
  }
}
/* -------------ContextCard--------------- */
.context_container{
  margin: 5% 5% 5% 5%;
  
}
@media only screen and (max-width:716px){
  .context_container{
    text-align: justify;
  }
}
/* -----------Accortin---------- */
#acr_li{
  transition: all 0.7s ease;
}
#acr_li:hover{
  transform: scale(1.05);
  filter: drop-shadow(1px 1px 2px rgba(0,0,0,0.2));
}
/* ------------ContactCard---------- */
.contact_container{
  margin: 5% ;
}
.contact_container>div>div>h3>span:nth-of-type(1){
  font-weight: 700;
}
.social_div{
  display: flex;
  justify-content: center;
}
.social_div>a{
  padding: 8px;
  border-radius: 10px;
  margin-left: 10px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.87);
}
.social_icon{
  height: 40px !important;
  width: 40px !important;
  transition: all 0.7s ease;
}
.store_div{
  width: 100%;
}
.store_div>a{
  width: 50%;
}
.store_icon{
 width: 50%;
 
}
.social_icon:hover{
  transform: scale(1.5);
}
/* -------------Why_Blue_Container---------- */
.whyblue_container{
  width: 100%;
  display: flex;
  justify-content: center;
}
.whyblue_container>div{
  height: 100%;
  width: 80%;
}
.whyblue_container>div>div{
    margin:  5rem 0.2rem;
    height: 100%;
    border-radius: 40px;
}
.wb_top{
  position: relative;
  height: 180px!important;
  display: flex;
  background-color: #e6e4eeab;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 50% !important;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.57);
}
.gradient-text { 
   font-weight: bold;
   position: relative;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; background-clip: text;
   color: transparent;
   background-image: linear-gradient( #b6edf7, #4b4bff); 
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent; 
   transition: background-image 1s ease;
  }
  .gradient-text:hover{
    background-image: linear-gradient( #02ffdd, #ff4b69); 
  }
.wb_top::before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  height: 180px;
  border-radius: 10px;
  width: 100%;
  background: linear-gradient(rgba(179, 255, 0, 0.833)
  ,rgb(207, 7, 252));
  z-index: -10;
}
.wb_bottom{
  height: 180px !important;
}
.whyblue_container>div>div:nth-of-type(2){
  position: relative;
  /* width: 50%; */
  height: 100%;
  background-color: #00ddff76;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
}
.whyblue_container>div>div:nth-of-type(2)::before{
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background:linear-gradient(to right, #77cbf273,#3020db73) ;
  transform: rotate(45deg);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.27);
  border-radius: 40px;
  z-index: -1;
}
.whyblue_container>div>div>div{
  border-radius: 25px;
  padding: 10px 20px;
}
@media only screen and (max-width:906px){
  .whyblue_container>div{
    width: 100%;
  }
  .whyblue_container>div>.col-md-5{
    column-gap: 1.6rem;
  }
}
@media screen and (max-width:716px) {
  .whyblue_container>div>div:nth-of-type(2){
    width: fit-content;
    margin-top: 1rem;  
  }
  .whyblue_container>div>div{
    margin: 10px;
  }
  .wb_top{
    height: 200px !important;
  }
  .wb_bottom{
    height: 200px !important;
  }
}
@media screen and (max-width:576px) {
  .whyblue_container>div>div:nth-of-type(2)::before{
    position: absolute;
    width: 90%;
  }
   .why_img{
    height: 150px !important;
    width: 220px !important;
  } 
}
/* --------WhyBlueCarousel-------- */
.img_parent{
height: 100% !important;
width: 100%;
}
.why_img{
  height: 300px !important;
  width: 200px;
}
/* -----------Rating----------- */
.rating_container{
  width: 100%;
  margin: 4rem 20px;
  height: 70pvh;
  overflow: hidden;
}
.rating_container>div:nth-of-type(1){
  overflow: hidden;
}
/* ------UserRating-------- */
.rating_number>a{
  border: none !important;
  width: 80%;
  border-radius: 50%;
  /* transition:all 1s ease;
  */
}
.rating_cards{
  display: flex;
}
.rating_cards>div{
  justify-content: space-evenly;
  overflow-x:scroll;
  scrollbar-width: none;
  -ms-overflow-style:none;
  height: 50vh;
  width: 100%;
}
.rating_cards>div::-webkit-scrollbar{
  display: none;
}
.uri_card{
    /* border: 1px solid grey; */
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 30px 10px 1px 10px;
    padding: 3% 7%;
    border-top: 1px solid ;
    border-bottom: 1px solid;
    border-radius: 20px;
    text-align: justify;
    box-shadow: -2px 0px 2px rgba(0, 38, 255, 0.827);
}
.uri_card>div{
  display: flex;
  justify-content: space-between;
}

.uri_card svg>{
background-color: #0022ff;
}
.rating-star-container { 
  display: flex; 
  color: aliceblue;
  justify-content: space-between; 
  align-items: center; 
  height: fit-content;
  margin: 0px;
  background-color:#a3443b ;
  padding: 5px 10px;
  width: 100px;
  border-radius: 10px;
 } 
 .google_rating{
  color: aliceblue;
  margin-right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  height:40vh;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
 }
 .google_rating::before{
  position: absolute;
  content: '';
  top: 10px;
  left:10px ;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: rgba(50, 116, 190, 0.87);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.77);
  border-radius:20px ;
  transform: rotate(-5deg);
  transition: all 1s ease;
 }
 .google_rating:hover::before{
    transform: rotate(5deg);
   background-color: rgba(255, 0, 0, 0.826); 
 }
 @media screen and (max-width:992px) {
  .google_rating{
    width: 80%;
    height: 300px;
    margin: 5% 5% 5% 0% !important;
  }
 }
 @media screen and (max-width:464px) {
  .google_rating{
    width: 80%;
    height: 200px;
    margin: 5% 5% 5% 0% !important;
  }
  .rating_container>div:nth-of-type(1){
    height: 300px;
  }
 }
 /* ---------TextCarousel-------- */
 .text_caro_container{
  height: max-content;
  width: 100%;
  list-style-type:none;
 }
 .textCaroicon{
  border-radius: 20px;
  border: none;
  background-color: rgba(255, 0, 0, 0.578);
  padding: 5px;
  transition: all 0.5s ease;
 }
 .textCaroicon:hover{
  background-color: rgba(255, 0, 0, 0.968);
  transform: scale(1.1);
 }
 /* .card_c_check>div>div>div{
  display: flex;
  justify-content: center;
 } */
 @media only screen and 
 (max-width:716px){
  .text_caro_container{
    margin-top: 1rem !important;
    padding: 2px !important;
  }
  .pre_icon_div,.nex_icon_div{
    display: none !important;
  }
  .tcimg{
      height: 160px !important;
      width: 120px !important;
  }
  .tctext{
    font-size: small;
  }
  .tcicon{
    height: 30px;
    width: 30px;
  }
  .text_caro_card_div{
    display: flex;
    justify-content: center;
  }
  .text_caro_img_div>div>div{
    margin: 40px   ;
  }
 }
